body {
  background-color:  #F5F5F5;
  max-width: 600px;
  margin: auto auto;
}
#menu{
  width: 100%;
  display: block;
}
#menu ul{
  list-style: none; /*убираем маркеры списка*/
  margin: 0px; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:0px; /*делаем отступ сверху*/
  background:#DCDCDC; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}
#menu li{
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:0px; /*Добавляем отступ у пунктов меню*/
}
#menu li a{
  text-decoration: none;
  background:#DCDCDC; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#696969; /*меняем цвет ссылок*/
  padding:0px 13px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block;
  border-right: 1px solid #696969; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
#content{
  color: #2F4F4F;
  clear: both;
  text-align: center;
}
#content2{
  clear: both;
  text-align: center;
  width: 100%;
  display: block;
}
#content3{
  clear: both;
  text-align: justify;
  width: 100%;
}
#content2 a{
  color: #2F4F4F;
  text-decoration: none;
  background:#F0FFFF;
  font-family: arial;
  display: inline-block;
  border-top: 1px solid #696969;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
#content2 p, #content3 p{
    color: #696969;
    margin-bottom: 0px;
    text-align: center;
}
#content3 a{
  color: #2F4F4F;
  text-decoration: none;
  font-family: arial;
  display: block;
  padding: 7px 5px;
  margin-left: 5px;
  padding-right: 10px;
  border-left: 1px solid;
}
#content3 hr{
  border: none;
}
#content1{
  color: #2F4F4F;
  clear: both;
}
#content1 p{
  margin-left: 10px;
}
#footer{
  background: #DCDCDC;
  color: #696969;
  padding: 1px 0px;
  text-align: center;
  margin-top: 5px;
}
.time{
  border: 1px solid #008000;
  float: left;
  display: inline;
  border-radius: 3px;
  padding: 2px;
  color: #008000;
  margin-left: 15px;
  margin-right: 10px;
}
